
.wire-line {
  stroke: #000000;
  stroke-width: 5px; 
  stroke-linecap: square;
  opacity: 1; 
  shape-rendering: geometricPrecision;
}
.label-text-outline {
  stroke: white;
  stroke-width: 5px;
  fill: none;
}

.label-text-fill {
  fill: #000;
  font-size: 14px;
}