<div class="login-container">
    <div class="login-card">
    
        <div class="login-header">
            <h1>Iniciar Sesión</h1>
        </div>

        <form (ngSubmit)="login()">
        
            <div class="form-group">
                <label for="uvus">UVUS</label>
                <div class="input-icon">
                    <i class="bi bi-person-fill"></i> 
                    <input type="text" id="uvus" [(ngModel)]="uvus" name="uvus" required>
                </div>
               
                
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <div class="input-icon">
                    <i class="bi bi-lock-fill"></i>
                    <input type="password" id="password" [(ngModel)]="password" name="password" required>
                </div>
            </div>

            @if (error) {
                <div class="error-message">
                    {{ error }}
                </div>
            }

            <button type="submit" class="btn-login" [disabled]="cargando">
                @if (cargando) {
                    <span>Iniciando sesión...</span>
                } @else {
                    <span>Iniciar Sesión</span>
                }
            </button>

        </form>

        <div class="registro-link">
            ¿No tienes cuenta? 
            <a [routerLink]="['/registro']">Registrarse</a>
        </div>
        

    </div>
</div>