@if (circuitData) {

<div class="circuit-container">

  <svg
  class="circuit-svg"
    [ngClass]="{'circuit-desplazado': numeroProblema !== 1 && numeroProblema !== 6}"
    [attr.viewBox]="getViewBox()"
    preserveAspectRatio="xMidYMid meet"
    overflow="visible"
  >

    <!-- WIRES -->
    <g>
      @for (comp of componentes; track comp.id) {

        @let source = getNode(comp.source);
        @let target = getNode(comp.target);

        @if (source && target) {
          <line
            [attr.x1]="getNodeX(source.col)"
            [attr.y1]="getNodeY(source.row)"
            [attr.x2]="getNodeX(target.col)"
            [attr.y2]="getNodeY(target.row)"
            stroke="#2c3e50"
            stroke-width="3"
          />
        }

      }
    </g>

    <!-- COMPONENTS -->
    <g>
      @for (comp of componentes; track comp.id) {

        @if (comp.type !== 'wire') {

          @let mid = getComponentMidPoint(comp);

          <circle
            [attr.cx]="mid.x"
            [attr.cy]="mid.y"
            r="28"
            fill="white"
            stroke="#ddd"
            stroke-width="2"
          />

          <image
            [attr.href]="getComponentImgPath(comp.type)"
            [attr.x]="mid.x - 30"
            [attr.y]="mid.y - 30"
            width="60"
            height="60"
            [attr.transform]="'rotate(' + getComponentRotation(comp) + ' ' + mid.x + ' ' + mid.y + ')'"
          />

        }

      }
    </g>

    <!-- LABELS -->
    <g>
      @for (comp of componentes; track comp.id) {

        @if (comp.type !== 'wire') {

          @let pos = getLabelPosition(comp);

          <text
            [attr.x]="pos.x"
            [attr.y]="pos.y"
            text-anchor="middle"
            font-size="14"
            fill="#1e293b"
            font-weight="bold"
          >
            {{ comp.id }}
          </text>

        }

      }
    </g>

  </svg>

</div>

}